@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#app {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 2rem;

  width: 100%;
  background: red;
  color: white;

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    
    a {
      text-decoration: none;
      color: white;
    }
  }
  .logo {
    font-size: 4rem;
  }
}

main {
  display: flex;
  justify-content: center;
  overflow: auto;

  section {
    max-width: 900px;
    padding: 100px 1rem 100px 1rem;
  }
  h1 {
    font-size: 2rem;
    margin-top: 1rem;
    color: rgb(248, 180, 53);
    background: black;
    padding: 1rem;
    border-radius: 1rem;

    font-weight: 400;
  }
  p {
    padding-block: .5rem;
    font-weight: 300;
  }
  .sub {
    font-weight: 300;
    padding-left: 2rem;

    b {
      text-decoration: underline;
      color: red;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  position: sticky;
  bottom: 0;

  width: 100%;

  padding: 1rem 0;

  div {
    display: flex;
    border-radius: 2rem;
    justify-content: center;
    gap: 1rem;
    background: red;
    padding: 1rem;

    width: 100%;
    max-width: 260px;

    button {
      display: flex;
      padding: .5rem 1rem;
      font-weight: 300;
      border-radius: .75rem;
      border: none;

      .icon {
        font-size: 1.5rem;
        color: black;
      }
    }
  }
}
